@import '../../../../styles.scss';

.frame-two{
  padding-top: 17%;
  width: 100%;
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background: fixed;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #3c3c3c;
  @include respond(tablet) {
    height: 55vh;
  }
  @include respond(mobile) {
    padding-top: 17%;
    height: 35vh;
  }
  @include respond(mobileM) {
    height: 30vh;
  }
  h1{
    font-size: 45px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: $white;
    @include respond(mobile) {
      font-size: 32px;
    }
    @include respond(mobileM) {
      font-size: 28px;
    }
  }
}
