<div class="footer">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-md-6 col-6">
        <div class="information">
          <h6>Coyote Club</h6>

          <div class="locate">
            <p>IATA 33674255</p>
            <p>Coyote Club CC</p>
            <p>Copenhagen, Denmark</p>
          </div>

          <p>Affiliate to SmartFlyer, a Virtuoso Agency</p>

          <div class="social">
            <ul>
              <li><a href="https://mail.google.com/" class="text-uppercase">LOGIN</a></li>
              <li><a href="https://www.instagram.com/" class="text-uppercase">INSTAGRAM</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Term" class="text-uppercase">TERMS</a></li>
            </ul>
          </div>

          <div class="mail">
            <a href="#">members@coyote-club.com</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
