<div class="services">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h1>Our Services</h1>

        <div class="service-main">
          <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
              <div class="inner">
                <h6>Hotel Booking</h6>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
              <div class="inner">
                <h6>Ticketing</h6>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
              <div class="inner">
                <h6>Tour Package</h6>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
              <div class="inner">
                <h6>Transfer's</h6>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
              <div class="inner">
                <h6>Corporate Travel</h6>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>

