@import '../../../../styles.scss';

.about{
  width: 100%;
  height: 90vh;
  padding: 10% 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-color: gray;
  .about-logo{
    img{
      width: 100px;
      height: auto;
    }
  }
  .info{
    h4{

    }
    p{

    }
  }
}
