<div class="about" style="background-image: url(../../../../assets/img/photo-1447160666621-25f14cda2fcc.jpg);">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-10">
        <div class="about-logo">
          <img src="../../../../assets/img/logo1.png">
        </div>

        <div class="info">
          <h4>We create experiences and journeys that will stay with our members forever and the best possible value.</h4>
          <p>We take our network and trust built over the past two decades, and combine it with our members collective coolness and purchasing power - generating access to the best hotels, villas and yachts worldwide, at unbeatable rates and with perks not available to the public.</p>
        </div>
      </div>

    </div>
  </div>
</div>
