@import "../../../../styles.scss";

.partner {
  padding: 5% 0;
  background-color: #fafafa;
  @include respond(tablet) {
  }
  @include respond(mobile) {
    padding: 10% 0;
  }
  @include respond(mobileM) {
  }
  .image {
    img {
      width: 90%;
      height: auto;
      object-position: center;
      object-fit: cover;
      @include respond(tablet) {
        width: 100%;
      }
    }
  }
  .partner-details {
    @include respond(mobile) {
      margin-top: 10%;
    }
    h1 {
      font-size: 40px;
      font-weight: 600;
      color: $black;
      @include respond(tablet) {
        font-size: 35px;
      }
      @include respond(mobile) {
        font-size: 35px;
      }
    }
    h6 {
      padding-top: 10px;
      font-size: 30px;
      color: #b5603f;
      font-family: 'Satisfy', cursive;
      @include respond(tablet) {
        font-size: 20px;
      }
      @include respond(mobile) {
        font-size: 30px;
      }
    }
    p {
      padding-top: 15%;
      font-size: 27px;
      color: $gray;
      @include respond(tablet) {
        padding-top: 10%;
        font-size: 20px;
      }
      @include respond(mobile) {
        font-size: 20px;
        padding-top: 10%;
      }
    }
  }
}
